/.bash_history
/.bashrc
/.dotnet
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.nv
/.vscode
/.vscode-server
/.wget-hsts
/.zcompdump
/.zshrc
/.condarc
/.config
/.gitconfig
/.docker
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful